<% layout('layouts/boilerplate')%>
<div class="text-center">
    <h1>Welcome to CalledIt!</h1>
    <h6>Prove you were right all along!</h6>
</div>



<h3 class="text-center mt-5">How does it work?</h3>
<div  class="offset-1">
    <div class="accordion mb-3 col-11" id="fullAccordian">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                1: Register an account
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#fullAccordian">
            <div class="accordion-body">
                <img src="https://res.cloudinary.com/djcc248bk/image/upload/v1620069697/CalledIt/Register_ooq39z.png"
                    alt="" class="card-img-top" />
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                  2: Create a new thread
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#fullAccordian">
              <div class="accordion-body">
                    <img src="https://res.cloudinary.com/djcc248bk/image/upload/v1620071835/CalledIt/New_Thread_vet4lu.png"
                        alt="" class="card-img-top" />
              </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                  3: Invite others
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#fullAccordian">
              <div class="accordion-body">
                  <ul>
                      <li>Copy the URL for your new thread</li>
                      <li>Send it to your friends/family</li>
                  </ul>
              </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                  4: Everyone adds new claims and votes
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#fullAccordian">
              <div class="accordion-body">
                    <img src="https://res.cloudinary.com/djcc248bk/image/upload/v1620072397/CalledIt/newClaim_rfs7ee.png"
                        alt="" class="card-img-top" />
              </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
                  5: When the thread ends, you mark which guess was most correct
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#fullAccordian">
              <div class="accordion-body">
                    <img src="https://res.cloudinary.com/djcc248bk/image/upload/v1620072605/CalledIt/markcorrect_tkmjtr.png"
                        alt="" class="card-img-top" />
              </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseOne">
                  6: Then everyone can view who Called It!
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#fullAccordian">
              <div class="accordion-body">
                    <img src="https://res.cloudinary.com/djcc248bk/image/upload/v1620072810/CalledIt/ExpiredThread_vnl2xg.png"
                        alt="" class="card-img-top" />
              </div>
            </div>
        </div>
    </div>
</div>

